body {
  background-color: #eee8e1;
  color: #530606;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", sans-serif;
}

.btn-primary {
  font-size: 15px;
  background-color: rgb(182, 97, 0);
  border: 1px solid rgb(182, 97, 0);
  border-radius: 0%;
}

.btn-primary:hover {
  background: none;
  border: 1px solid rgb(182, 97, 0);
  color: rgb(182, 97, 0);
}

.btn-secondary {
  font-size: 15px;
  background: none;
  border: 1px solid rgb(182, 97, 0);
  color: rgb(182, 97, 0);
  /* color: #fff; */
  border-radius: 0%;
}

.btn-secondary:hover {
  border: 1px solid rgb(182, 97, 0);
  background-color: rgb(182, 97, 0);
  color: #fff;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.684), rgba(0, 0, 0, 0.684)),
    url(../../header-bg.avif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #e5ded0;
  color: #530606;
}

.nav-scroller {
  background-color: #e5dece;
}

.fresh-coffee {
  background-color: #530606;
}

.our-commitment {
  background-color: #e5ded0;
}

.experience {
  background-color: #054611;
}
