body {
  background-color: #e5dece;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
}

.btn-primary {
  font-size: 15px;
  background-color: rgb(182, 97, 0);
  border: 1px solid rgb(182, 97, 0);
}

.btn-primary:hover {
  background: none;
  border: 1px solid rgb(182, 97, 0);
  color: rgb(182, 97, 0);
}

.btn-secondary {
  font-size: 15px;
  background: none;
  border: 1px solid rgb(182, 97, 0);
  color: rgb(182, 97, 0);
}

.btn-secondary:hover {
  border: 1px solid rgb(182, 97, 0);
  background-color: rgb(182, 97, 0);
  color: #fff;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.684), rgba(0, 0, 0, 0.684)),
    url(../../public/header-bg.avif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  background-color: #e5ded0;
}
