---
import "../styles/global.css";
---

<section class="brew-partner py-5">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-md-6">
                <div class="card" style="background: none; border: none">
                    <div class="card-body">
                        <img class="card-img-top mb-3 img-fluid object-fit-cover" src="https://www.themercuryville.com/wp-content/uploads/2024/02/%E0%B8%AA%E0%B8%B2%E0%B8%A2%E0%B8%9E%E0%B8%B1%E0%B8%99%E0%B8%98%E0%B8%B8%E0%B9%8C%E0%B8%81%E0%B8%B2%E0%B9%81%E0%B8%9F-%E0%B8%A1%E0%B8%B5%E0%B8%AD%E0%B8%B0%E0%B9%84%E0%B8%A3%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%87.jpg" alt="image" style="width: 100%; height: 350px;" />
                        <h3 class="mb-3">Brew Like a Pro</h3>
                        <p class="mb-4">Learn how to make cafe-quality coffee at home with our step-by-step brewing guides.</p>
                        <button class="btn btn-primary w-100">View Brew Guides</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="background: none; border: none">
                    <div class="card-body">
                        <img class="card-img-top mb-3 img-fluid object-fit-cover" src="https://www.verywellhealth.com/thmb/bP6BY0QGeFu4cfdanf3HXkPyjzo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/VWH-GettyImages-1816505671-9bd1b5a8dab24cf8b92c0fcd3e1fcf1c.jpg" alt="image" style="width: 100%; height: 350px" />
                        <h3 class="mb-3">Partner With Us</h3>
                        <p class="mb-4">Serve premium coffee in your cafe, office, our restaurant. We provide reliable supply, training, and business support.</p>
                        <button class="btn btn-primary w-100">View Brew Guides</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
