<section class="ethical">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center text-white">
            <div class="col-md-6">
                <img class="img-fluid object-fit-cover" src="https://img.magnific.com/free-photo/tea-pickers-working-kerela-india_53876-42847.jpg?semt=ais_hybrid&w=740&q=80" alt="image" style="width: 100%; height: 350px" />
            </div>
            <div class="col-md-5">
                <h2 class="mb-4">Ethical. Sustainable. Transparent.</h2>
                <p class="mb-4">We support fair wages, eco-friendly farming, and responsible roasting ensuring positive impact from farm to cup.</p>
                <div class="row">
                    <div class="col-md-6">
                        <span><i class="bi bi-leaf me-2"></i>Fair Trade</span>
                    </div>
                    <div class="col-md-6">
                        <span><i class="bi bi-leaf me-2"></i>Recyclable Packaging</span>
                    </div>
                    <div class="col-md-12">
                        <span><i class="bi bi-leaf me-2"></i>Low-Carbon Shipping</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
