<section class="experience">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-4 py-5 text-white">
                <h2 class="mb-3">Experience the Difference in Every Cup</h2>
                <p class="mb-4">Upgrade your daily ritual premium coffee trusted by thousands.</p>
                <div class="row">
                    <div class="col-md-5">
                        <button class="btn btn-primary w-100 mb-2">Shop Now</button>
                    </div>
                    <div class="col-md-7">
                        <button class="btn btn-secondary w-100">Subscribe & Save</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid object-fit-cover" src="https://savoredsips.com/wp-content/uploads/2018/03/cappuccino-featured.jpg" alt="image" style="width: 100%; height: 400px;" />
            </div>
        </div>
    </div>
</section>
