<footer class="footer-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pe-lg-5 border-end">
                <img class="mb-3" width="150" src="../../zenvy-logo.png" alt="" />

                <p class="text-muted mb-4">Join our community and receive exclusive offers, early access, and expert tips.</p>

                <button class="btn btn-primary px-5 py-2 rounded-0"> Subscribe </button>
            </div>

            <div class="col-lg-7 ps-lg-5 mt-5 mt-lg-0">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="mb-4">Shop</h5>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a href="#" class="footer-link">All Coffee</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Best Sellers</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Subscription</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Gift Sets</a></li>
                            <li><a href="#" class="footer-link">Accessories</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5 class="mb-4">Company</h5>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a href="#" class="footer-link">About</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Sustainability</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Careers</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Blog</a></li>
                            <li><a href="#" class="footer-link">FAQs</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5 class="mb-4">Support</h5>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a href="#" class="footer-link">Contact</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Shipping</a></li>
                            <li class="mb-3"><a href="#" class="footer-link">Returns</a></li>
                            <li><a href="#" class="footer-link">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
