---
import "../styles/global.css";
---

<header class="px-4 py-5 text-center">
    <div class="container text-white">
        <div class="row d-flex align-items-center">
            <h1 class="display-5 fw-medium mb-4">Exceptional Coffee, <br /> Crafted for Everyday Luxury</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Ethically sourced, small-batch roasted <br /> specialty coffee delivered fresh to your door.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary px-4 gap-3">Shop Coffee</button>
                    <button type="button" class="btn btn-secondary px-4">Start Subscription</button>
                </div>
            </div>
        </div>
    </div>
</header>
