<section class="our-commitment">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-6">
                <img class="img-fluid object-fit-cover" src="https://savoredsips.com/wp-content/uploads/2018/03/cappuccino-featured.jpg" alt="image" style="width: 700px; height: 400px" />
            </div>
            <div class="col-md-5 py-5">
                <h3>Our Commitment to Quality</h3>
                <p>At Zencoffee, we source exceptional beans directly from trusted farmers. Every batch is roasted with precision and passion delivering consistent excellent in every cup.</p>
                <button class="btn btn-primary w-100">Learn More</button>
            </div>
        </div>
    </div>
</section>
