---
const products = [
    {
        name: "Espresso",
        image: "https://images.getrecipekit.com/20230414194230-espresso-cup-with-coffee-beans.jpg?width=650&quality=90&",
        price: 20000,
        rating: "4.9",
    },
    {
        name: "Americano",
        image: "https://d1r9hss9q19p18.cloudfront.net/uploads/2016/04/hot-black-coffee-1680x1050.jpg",
        price: 25000,
        rating: "4.7",
    },
    {
        name: "Coffee Latte",
        image: "https://richcreme.com/wp-content/uploads/2022/07/latte.jpg",
        price: 15000,
        rating: "4.5",
    },
];
---

<section class="our-signature py-5">
    <div class="container">
        <div class="row text-center mb-4">
            <h2>Our Signature Coffee Collection</h2>
            <p>Explore our best-selling single origins and signature blends crafted for every taste.</p>
        </div>
        <div class="row">
            {
                products.map((product) => (
                    <div class="col-md-4 g-3 text-center">
                        <div class="card p-4">
                            <span class="rating mb-3">
                                <i class="bi bi-star-fill" />
                                {product.rating}
                            </span>
                            <img src={product.image} class="card-img-top object-fit-cover" alt="products" style="width: 100%; height: 300px" />
                            <div class="card-body">
                                <h3>{product.name}</h3>
                                <p>Rp. {product.price}</p>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
